.page_4-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: left;
    min-width: 320px;
    width: 60%;
    align-self: center;
    margin: 1ch;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2ch;
    padding: 2ch;
}
.page_4-person {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 4ch;
    align-items: flex-start;
}
.page_4-person-info {
    max-width: 90%;
    width: 90%;
    font-weight: bold;
    padding-left: 2ch;
}

.page_4-person-info > h1 {
    text-align: left;
}

.page_4-person > img {
    border: 2px solid black;
    border-radius: 1ch;
    width: 25%;
    height: auto;
    background-color: black;
}
